.main-article{
    background: url('../images/background/coffeeshopop50.jpg') no-repeat center center fixed ;
    background-size: cover;
  }
.secondary-article{
    background: url('../images/background/coffeeshop2op50.jpg') no-repeat center center fixed ;
    background-size: cover;
}
